# This .env file is for the preparation of production environment in the branch UAT before release main.
# For the branch, UAT, these could be transferred and saved in github secrets, and not neccessary to leave them in an .env file.
# ==== MySQL容器連線 ====
MYSQL_HOST=
MYSQL_PORT=3306

# ==== MySQL容器初始化時資料庫名稱(只限一個)====
MYSQL_DATABASE=
MYSQL_AIRFLOW_DATABASE=airflow_metadata # 給生產環境中的airflow存放metadata用

# ==== AIRFLOW跑DAG寫資料進入MySQL容器時所用的連線帳密 =====
MYSQL_USER=
MYSQL_PASSWORD=

# ==== 容器化的MySQL server的ROOT 密碼 ====
MYSQL_ROOT_PASSWORD= # root使用者的密碼，因為一定有root這一使用者，所以一定要設定密碼。

# === 拆開Airflow scheduler、webserver、trigger 為三個獨立容器時，需要引入AIRFLOW 3.x 核心變數 ===
AIRFLOW_SECRET_KEY=
AIRFLOW_ADMIN_USER=
AIRFLOW_ADMIN_PASSWORD=
AIRFLOW_ADMIN_EMAIL=admin@example.com

# ==== REDIS容器連線 =====
REDIS_HOST=
REDIS_PORT=6379
REDIS_PASSWORD=

# ==== 其他服務 ====
GOOGLE_MAP_API_KEY=



# 其餘AIRFLOW變數[optional]
# AIRFLOW_UID=50000
# AIRFLOW__CORE__ENABLE_XCOM_PICKLING=True
# AIRFLOW__CORE__PARALLELISM=8
# AIRFLOW__CORE__MAX_ACTIVE_TASKS_PER_DAG=4
# AIRFLOW__CORE__DAG_CONCURRENCY=4
# AIRFLOW__SCHEDULER__MAX_TIS_PER_QUERY=16
# AIRFLOW__DATABASE__SQL_ALCHEMY_POOL_SIZE=10
# AIRFLOW__DATABASE__SQL_ALCHEMY_POOL_RECYCLE=1800