# ==== 宿主機連到 MySQL 容器 ====
MYSQL_HOST=localhost
MYSQL_PORT=3307

# ==== 使用 docker compose 做 MySQL 容器初始化資料庫時的資料名稱(只限一個) ====
MYSQL_AIRFLOW_DATABASE=airflow_metadata # 給生產環境中的 airflow 存放 metadata 用

# ==== MySQL 容器業務資料庫名稱 ====
MYSQL_DATABASE=

# ==== AIRFLOW 容器跑 DAG 寫資料進入 MySQL 容器時所用的連線帳密 =====
MYSQL_USER=
MYSQL_PASSWORD=

# ==== MYSQL 容器的 ROOT 密碼 ====
MYSQL_ROOT_PASSWORD= # root 使用者的密碼，因為一定會有 root 這一使用者，所以一定要給一支密碼。

# === 拆開 Airflow init、scheduler、webserver、trigger 為四個獨立容器時，需要引入 AIRFLOW 3.x 核心變數 ===
AIRFLOW_SECRET_KEY=
AIRFLOW_ADMIN_USER=
AIRFLOW_ADMIN_PASSWORD=
AIRFLOW_ADMIN_EMAIL=admin@example.com

# ==== 宿主機連到 REDIS 容器 =====
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# ==== ETL 任務連到外部服務 ====
GOOGLE_MAP_API_KEY=
GROQ_API_KEY=  # CREATE KEY from: https://console.groq.com/keys


# 其餘 AIRFLOW 變數[optional]
# AIRFLOW_UID=50000
# AIRFLOW__CORE__ENABLE_XCOM_PICKLING=True
# AIRFLOW__CORE__PARALLELISM=8
# AIRFLOW__CORE__MAX_ACTIVE_TASKS_PER_DAG=4
# AIRFLOW__CORE__DAG_CONCURRENCY=4
# AIRFLOW__SCHEDULER__MAX_TIS_PER_QUERY=16
# AIRFLOW__DATABASE__SQL_ALCHEMY_POOL_SIZE=10
# AIRFLOW__DATABASE__SQL_ALCHEMY_POOL_RECYCLE=1800
