# This .env file is for the preparation of testing environment in the branch refactor/util-connection-layer before merge to UAT.
# For the branch, UAT, these could be transferred and saved in github secrets, and not neccessary to leave them in an .env file.
# ==== MySQL 容器連線 ====
MYSQL_HOST=
MYSQL_PORT=3306

# ==== MySQL 容器初始化時資料庫名稱(只限一個)====
MYSQL_DATABASE=
MYSQL_AIRFLOW_DATABASE=airflow_metadata # 給生產環境中的 airflow 存放 metadata 用

# ==== AIRFLOW 跑 DAG 寫資料進入 MySQL 容器時所用的連線帳密 =====
MYSQL_USER=
MYSQL_PASSWORD=

# ==== 容器化的 MySQL server 的 ROOT 密碼 ====
MYSQL_ROOT_PASSWORD= # root 使用者的密碼，因為一定有 root 這一使用者，所以一定要設定密碼。

# === 拆開 Airflow scheduler、webserver、trigger 為三個獨立容器時，需要引入 AIRFLOW 3.x 核心變數 ===
AIRFLOW_SECRET_KEY=
AIRFLOW_ADMIN_USER=
AIRFLOW_ADMIN_PASSWORD=
AIRFLOW_ADMIN_EMAIL=admin@example.com

# ==== REDIS 容器連線 =====
REDIS_HOST=
REDIS_PORT=6379
REDIS_PASSWORD=

# ==== 其他服務 ====
GOOGLE_MAP_API_KEY=
GROQ_API_KEY=


# 其餘 AIRFLOW 變數[optional]
# AIRFLOW_UID=50000
# AIRFLOW__CORE__ENABLE_XCOM_PICKLING=True
# AIRFLOW__CORE__PARALLELISM=8
# AIRFLOW__CORE__MAX_ACTIVE_TASKS_PER_DAG=4
# AIRFLOW__CORE__DAG_CONCURRENCY=4
# AIRFLOW__SCHEDULER__MAX_TIS_PER_QUERY=16
# AIRFLOW__DATABASE__SQL_ALCHEMY_POOL_SIZE=10
# AIRFLOW__DATABASE__SQL_ALCHEMY_POOL_RECYCLE=1800
